services:
  # PostgreSQL для user-service
  user-service-postgres:
    image: postgres:15-alpine
    container_name: user-service-postgres
    environment:
      POSTGRES_DB: user_service
      POSTGRES_USER: user_service_user
      POSTGRES_PASSWORD: user_service_password
    ports:
      - "5432:5432"
    volumes:
      - user_service_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user_service_user -d user_service"]
      interval: 5s
      timeout: 2s
      retries: 20
      start_period: 10s
    networks:
      - app-network

  user-service:
    build:
      context: ./services/user-service
      dockerfile: Dockerfile
    container_name: user-service
    env_file:
      - ./services/user-service/.env
    ports:
      - "50051:50051"
    depends_on:
      user-service-postgres:
        condition: service_healthy
    networks:
      - app-network

  api-gateway:
    build:
      context: ./api-gateway
      dockerfile: Dockerfile
    container_name: api-gateway
    env_file:
      - ./api-gateway/.env
    ports:
      - "5000:5000"
    depends_on:
      - user-service
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  user_service_data:
